// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#open-close-vnotro-B { cursor: pointer; color: #aaaaaa03; }
.form-vnutro-B { display: none; }


th { border:1px solid #aaaaaa03;}